*{
    font-family: 'Roboto', sans-serif;
}
.main-qns{
    margin: 0;
}
.qns-sub-text{
    opacity: 0.5;
    margin-bottom:3px ;
}
.required-qns::after{
content: "*";
color: red;
margin-left: 2px;
}
.form-qns{
    margin-top: 20px;
}
